---
const { color = '#FFD600', ...props } = Astro.props;
---

<div {...props}>
    <svg class="animate-panel" width="211" height="120" viewBox="0 0 211 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="49" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="98" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="147" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="196" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect y="35" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="49" y="35" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="98" y="35" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="147" y="35" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="196" y="35" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect y="70" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="49" y="70" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="98" y="70" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="147" y="70" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="196" y="70" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect y="105" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="49" y="105" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="98" y="105" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="147" y="105" width="15" height="15" fill={color} fill-opacity="0.3"/>
        <rect x="196" y="105" width="15" height="15" fill={color} fill-opacity="0.3"/>
    </svg>

</div>